<banner text="You Can Haz Books!"></banner>

<div class="container">  
  <div class="row" ng-if="$ctrl.isAuthenticated">
    <div class="col-sm-12">
        <form class="thing-form">
              <input type="text" class="form-control" placeholder="Search Books" ng-model="$ctrl.newThing">
        </form>    
    </div>
  </div>
  <div class="row scroll" ng-if="$ctrl.isAuthenticated" ng-style="{'max-height': $ctrl.calculateRemainingHeight()}">
      <div class="col-sm-12">
          <div class="book" ng-repeat="x in $ctrl.books">
              <img src="{{x.img}}">
          </div>
      </div>
    </div>
  
  <div class="row" ng-if="!$ctrl.isAuthenticated">
      <div class="col-sm-12 book" style="text-align: center">
          <h3>Please create an account and/or login to begin trading books!!</h3>  
      </div>
    </div>
  
</div>
