mine{
    .container{
        margin-top: 20px;
      }
    
    .book{
        display: inline-block;
        padding: 2px;
        height: 200px;
        width: 130px;

        img{
            height: 196px;
            width: 126px;
            position: relative;
            left: 0px;
            top: 0px;
        }
        a{
            left: 5px;
            top: -190px;
            position: relative;
        }
    }

    .scroll{
        overflow-y: auto;
    }
    
}